.firstinput{
    margin-bottom: 1rem;
}

.form{
    padding: .5rem;
    width: 90%;
    outline: none;
}

.btn{
    padding: .7rem;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    background-color: burlywood;
}